.header-section{
    display: flex;
    gap: 2rem;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index:10;
    padding: 1rem;
}

.menu{
    display: none;
}

.menu:hover{
    background-color: #1a2f5e;
    color: #fff;
    padding: 0.3rem;
    border-radius: 50%;
}

.input-section{
    width: 80%;
    height: 2.3rem;
    display: flex;
    align-items: center;
    background-color: #d0d3db;
    border-radius: 2rem;
    padding-left: 0.5rem;
    gap: 0.3rem;
}

.header-input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
    height: 100%;
    outline: none;
}

.notification{
    color: #b4b8c5;
    cursor: pointer;
}

.admin-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 0.2rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info p{
    font-size: 0.7rem;
}

.profile{
    background-color: #d0d3db;
    color: #b4b8c5;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 0.3rem;
}

@media (max-width: 1000px){
    .header-section{
        gap: 1rem;
    }

    .menu{
        display: block;
        cursor: pointer;
    }

    .input-section{
        width: 70%;
    }
}